
#home {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    box-shadow: border-box;
}

.left-section {
    width: 20%;
    background-color: #282D33; 
}

.left-section .lista {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color: #E3DFDC;
    font-size: 1.4em;
    font-weight: 400;
}


.left-section .lista .lista-item:first-child {
    margin-top: 40px;
}

.left-section .lista .lista-item {
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
}

.left-section .lista .lista-item:hover {
    background-color: rgb(50, 70, 77);
    color: #FC4D55;
    cursor: pointer;
}

.main-section {
    width: 80%;
    /* height: 100%; */
    color: #E3DFDC;
    background-color: rgb(50, 70, 77); 
}

.main-section h1 {
    margin-top: 60px;
    margin-bottom: 55px;
    margin-left: 40px;
    font-weight: 300;
}

.movie-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr); 
    margin-left: 40px;
    margin-right: 40px;
}

.img-big {
    display: none;
}


/* Media Queries */
/* max-width: estilos se aplican cuando la pantalla es menor o igual que el numero especificado */
/* min-width: estilos aplicados cuando la pantalla es mayor que lo especificado */

/* Desktops and laptops ----------- */
@media screen and (min-width: 1400px) {
    .img-big  {
        display: block;
    }
    .img-small {
        display: none;
    }
  }


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .movie-list {
        grid-template-columns: 1fr 1fr;
    }
    .single-movie {
        text-align: center;
    }
}


/* portrait smartphone */
@media screen and (max-width: 768px) {
    .movie-list {
        grid-template-columns: 1fr;
    }
    .single-movie {
        text-align: center;
    }
    .left-section {
        display: none;
    }
    .main-section {
        width: 100%;
    }
}

/* smartPhone landscape */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .movie-list {
        grid-template-columns: 1fr;
    }
    .left-section {
        display: none;
    }
    .single-movie {
        text-align: center;
    }
    .main-section {
        width: 100%;
    }
}



